@page "/gobang"
@page "/"

@inject IJSRuntime JS

<div class="gobang-box">
    <div class="chess">
        @for (var i = 0; i < 19; i++)
        {
            @for (var j = 0; j < 19; j++)
            {
                var _i = i;
                var _j = j;
                <div class="cell" @onclick="@(async () => await Playing(_i, _j))">
                    <span class="chess@(Chess[i, j])"></span>
                </div>
            }
        }
    </div>
</div>
<div class="chess-info">
    <h1>五子棋⚫⚪</h1>
    <p><b>⚡是时候表演真正的技术了⚡</b></p>
    <p><label><input type="radio" name="chess" checked="checked" @onclick="@(() => first = "He")"> 对手先手</label></p>
    <p><label><input type="radio" name="chess" @onclick="@(() => first = "me")"> 我先手</label></p>
    @if (!IsInRoom)
    {
        <p><button class="box-btn" @onclick="CreateRoom">创建房间</button></p>
        <p><button class="box-btn" @onclick="GetIntoRoom">加入房间</button></p>
    }else{
        if (IsReady)
        {
            <p><button class="box-btn" @onclick="StartGame">@(IsInGame ? "认输" : "开始游戏")</button></p>
        }else
        {
            <p><button class="box-btn" @onclick="Invite">邀请朋友</button></p>
        }
    }

    <div class="chess-msg">
        <p><b>@msgs</b></p>
        <span>（1）由房主选择谁执黑先行!⚫</span>
    </div>
</div>